
.backround{
    background-color: rgb(214, 146, 0);
    height: 100vh;
    width:  100vw;
    display: flex;
    justify-content:center;
    align-items:center;
}
.ak{
    width: 5%;
    border: 5px solid black;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: (rgb(255, 255, 255));
    background-image: linear-gradient(gray);
}
.logo{
    width: 100px;
}
.karthi{
    display: flex;
     height: 100px;
    width: 100px;
    justify-content: center;
}
.navbar {
        display: flex;
        justify-content: space-between;
        background-color: #1b8f0c;
        padding: 50px;
        color: rgb(0, 0, 0);
      }
.search-bar{
    border-radius: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    width: 30%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.k{
    margin-right: 40px;
}

.a{
    margin-right: 40px;
}
.r{
    margin-right: 40px;
}